@functions {
    string NavLinkClassName(string controller, string? action = null)
    {
        string navLinkClassName = "nav-link";

        bool isControllerActive = ViewContext.RouteData.Values["Controller"].ToString() == controller;
        bool isActionActive = String.IsNullOrEmpty(action) ? true : ViewContext.RouteData.Values["Action"].ToString() == action;

        if (isControllerActive && isActionActive)
        {
            navLinkClassName += " active";
        }
        return navLinkClassName;
    }
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TheProjector</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/TheProjector.styles.css" asp-append-version="true" />
    </head>

    <body>
        <div class="container-fluid row mt-3">
            <nav class="col-md-2 ">
                <ul class="nav d-flex flex-column align-items-start">
                    <li class="nav-item">
                        <a class='@NavLinkClassName("Projects")' asp-controller="Projects">
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='@NavLinkClassName("People")' asp-controller="People">
                            People
                        </a>
                    </li>
                </ul>
            </nav>
            <main class="col-md-10" role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - TheProjector - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>
