@{
    @model TheProjector.Data.DTO.PersonBasicInfo;
ViewData["Title"] = "Edit Person";

}

<div>

    <h3>Edit Person</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger">

    </div>

    <form method="POST">
        <input asp-for="RowVersion" type="hidden" />
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder=" " />
            <p class="p-0 m-0">
                <span asp-validation-for="FirstName" class="text text-danger"></span>
            </p>
        </div>

        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder=" " />
            <p class="p-0 m-0">
                <span asp-validation-for="LastName" class="text text-danger"></span>
            </p>
        </div>


        @* TODO: implement Username password *@

        <input type="submit" class="btn btn-primary" value="Edit">


    </form>



</div>