@{
    ViewData["Title"] = "People";
}

<div>
    <div class="mb-3">
        <h3>People</h3>
        <a class="btn btn-primary" asp-action="Create">
            Create Person Data
        </a>
    </div>

</div>