@{
    @model TheProjector.Data.ViewModels.PersonViewViewModel;
ViewData["Title"] = @Model.BasicInfo.FullName;
}

<div>
    <div class="mb-3 d-flex justify-content-between">
        <h4>@Model.BasicInfo.FullName</h4>
        <div>
            <a class="btn btn-primary" asp-action="Edit">Edit</a>
        </div>
    </div>



    <p>Projects assigned to:</p>
    @if (Model.AssignedProjects.Count > 0)
    {
        <table class="table table-sm">
            <colgroup>
                <col class="col-11">
                <col class="col-1">
            </colgroup>
            <thead>
                <th>Project</th>
                <th>Actions</th>
            </thead>
            <tbody>
                @foreach (var project in Model.AssignedProjects)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>
                            <a asp-action="View" asp-controller="Projects" asp-route-id="@project.Id">
                                View
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class=" alert alert-info">
            This person is not assigned to any project.
        </p>
    }
</div>